@import url('css/style_general.css');


/*CONTACT INFORMATION DESIGN*/


.store-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.store-info-container{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.store-info-container img{
    border: 2px solid var(--color-grey);
    border-radius: 5px;
}

.store-info-container-cell{
    padding-top: 50px;
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}


/*CONTACT FORM DESIGN*/


.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#contact-form-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5fr, 0.5fr, 1fr, 0.5fr;
    grid-gap:50px;
}

#contact-form-content input[type="text"]{
    width:540px;
    height:60px;
    border: 1px solid var(--color-coffee); 
    border-radius:5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    color:var(--color-light-grey);
    font-size: 15px;
    font-family: 'Poppins';
    padding-left:10px;
}

#form-box-left{
    justify-self: flex-end;
}

#contact-form-content textarea{
    grid-row:3/span 1;
    grid-column:1/span 2;
    justify-self: center;
    padding-left:10px;
    font-family: 'Poppins';
    font-size: 15px;
    width:1125px;
    height:165px;
    padding-top: 20px;
    border: 1px solid var(--color-coffee); 
    color:var(--color-light-grey);
    border-radius:5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}

#contact-form-content input[type="submit"]{
    grid-row:4/span 1;
    grid-column:1/span 2;
    justify-self: center;
    background: var(--color-coffee);
    color:var(--color-leaf);
    font-size: 16px;
    border:none;
    width:135px;
    height:50px;
    border-radius:24px;
    font-weight: 800;
    cursor:pointer;
    transition: 0.4s;
}

#contact-form-content input[type="submit"]:hover{
    color:var(--color-white);
    background: var(--color-leaf);
}


/*MEDIA QUERIES*/


@media(max-width:1536px){
    .store-info-container{
        max-width: 1280px;
    }

    #contact-form-content{
        max-width:1280px;
    }
}

@media(max-width:1280px){
    .store-info-container{
        max-width: 1024px;
    }

    #contact-form-content{
        max-width:1024px;
    }

    #contact-form-content input[type="text"]{
        width:500px;
    }

    #contact-form-content textarea{
        width:1050px;
    }
}

@media(max-width:1024px){
    .store-info-container{
        flex-direction:column;
        max-width: 768px;
    }

    #contact-form-content{
        max-width:768px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:40px;
    }

    #contact-form-content textarea{
        width:500px;
    }
}

@media(max-width: 768px){
    .store-info-container{
        max-width:640px;
    }

    #contact-form-content{
        max-width:640px;
    }
}

@media(max-width: 640px){
    .store-info-container{
        max-width:475px;
    }

    #contact-form-content{
        max-width:475px;
    }
}

@media(max-width:475px){
    .store-info-container{
        max-width:100%;
    }

    #contact-form-content{
        max-width:100%;
        gap:20px;
    }

    #contact-form-content input[type="text"]{
        max-width:85vw;
    }

    #contact-form-content textarea{
        max-width:85vw;
    }
}