@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&family=Poppins:wght@400;500;700&display=swap');


*{
    padding:0;
    margin:0;
}
:root{
    --color-brown: #603809;
    --color-light-brown: #B88E2F;
    --color-coffee: #7F6951;
    --color-leaf: #A5CB37;
    --color-white: #FFFFFF;
    --color-white-two: #FFF9F1;
    --color-black: #333;
    --color-grey: #707070;
    --color-light-grey:#666;
}

body{
    padding:0;
    margin:0;
    background:var(--color-white-two);
}

html{
    scroll-behavior: smooth;
}

p, a{
    font-family:'Poppins';
    font-size:20px;
    font-weight:400;
}

h1{
    font-family:'Montserrat';
    font-weight:700;
}

hr{
    background-color:var(--color-leaf);
    height:3px;
    border:none;
}

button{
    border:none;
    cursor:pointer;
    font-family:'Poppins';
    font-size:20px;
    border-radius:10px;
}

img{
    object-fit:cover;
    pointer-events:none;
}

li{
    list-style: none;
}


/*NAVIGATION DESIGN*/

.navigation{
    position:absolute;
    top:0;
    right:0;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top:20px;
    z-index: 10;
}

.navigation a{
    padding: 0px 10px;
    color:var(--color-white);
    font-weight: 700;
    text-decoration:none;
    transition:0.4s;
}

.navigation button{
    width:170px;
    height:40px;
    color:var(--color-brown);
    background:var(--color-white);
    font-weight:700;
    transition:0.4s;
}

.navigation button:hover{
    background:var(--color-leaf);
    color:var(--color-white);
}

.nav-active{
    border-bottom: 1px solid var(--color-leaf);
    margin-bottom:3px;
    pointer-events: none;
}

.navigation a:hover{
    color:var(--color-leaf);
}

.navigation a.nav-active{
    color:var(--color-leaf);
}

.hamburger-menu{
    position:absolute;
    display:none;
    top:0;
    right:0;
    margin-top:30px;
    margin-right:40px;
    width:35px;
    cursor:pointer;
    appearance: none;
    background: none;
    outline: none;
    border:none;
    z-index:10;
}

.hamburger-menu .hamburger-bar, .hamburger-menu:before, .hamburger-menu:after{
    content:'';
    display: none;
    width:100%;
    height:5px;
    background-color: var(--color-white);
    margin:6px 0px;
    transition:0.4s;
}

.hamburger-menu.is-active:before{
    transform:rotate(-45deg) translate(-8px, 6px);
}

.hamburger-menu.is-active:after{
    transform:rotate(45deg) translate(-9px, -8px);
}

.hamburger-menu.is-active .hamburger-bar{
    opacity: 0;
}

.mobile-nav{
    display: none;
    position: fixed;
    top: 0;
    right: 100%;
    width: 100%;
    min-height: 100vh;
    background-color:var(--color-coffee);
    padding-top: 120px;
    z-index:9;
}

.mobile-nav a{
    display: block;
    margin:0 auto 16px;
    text-align: center;
    margin-bottom:16px;
    width: fit-content;
    padding:12px 16px;
    transition: 0.4s;
    color:var(--color-leaf);
    font-weight: 800;
    text-decoration: none;
}

.mobile-nav a:hover{
    color:var(--color-white);
}


.mobile-nav button{
    width: 170px;
    height: 40px;
    color: var(--color-brown);
    background: var(--color-white);
    font-weight: 700;
    transition:0.4s;
}

.mobile-nav button:hover{
    background:var(--color-leaf);
}

.mobile-nav.is-active{
    right:0;
}

.no-scroll{
    overflow:hidden;
}

/*HERO DESIGN*/


.hero-container{
    background-image:url("../img/img-general/hero-banner.png");
    background-size:cover;
    background-repeat:no-repeat;
    height:760px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-container::before{
    position:absolute;
    content:'';
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: linear-gradient(90deg, #221403 47.97%, rgba(96, 56, 9, 0.30) 80.2%, rgba(127, 105, 81, 0.45) 124.06%); 
}

.website-logo{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.website-logo img{
    position:relative;
    max-width: 100%;
    height: auto;
    max-height: 500px;
}

#banner-text{
    flex:1;
    position:relative;
    color:var(--color-leaf);
    font-size:50px;
    font-weight:800;
    text-align:center;
}


/*CONTENT HEADER*/


.content-header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:100px;
}

.content-title{
    font-size:32px;
    text-align: center;
}

.content-subtitle{
    text-align:center;
}

.content-description{
    color:var(--color-light-grey);
    text-align: center;
}

.content-header hr{
    width:140px;
}


/*FOOTER DESIGN*/


.footer-breaker{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top:50px;
}

.footer-breaker img{
    width:100%;
    height:370px;
    max-height:370px;
}

.footer-container{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    gap:25px;
    padding-top:50px;
    padding-bottom:25px;
    width: 100% !important;
}

.footer-nav-container{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    gap:10px;
    height:100%;
}

.footer-nav-one{
    display:flex;
    justify-content: space-evenly;
    gap:150px;
}

.footer-nav-one-left{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap:10px;
}

.footer-nav-one-right{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap:10px;
}

.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    gap:10px;
}

.footer-logo p{
    margin:0;
    color:var(--color-coffee);
    font-size: 32px;
    font-weight: 800;
    text-align:center
}

.footer-logo img{
    max-width:100px;
}

.footer-nav-links{
    font-weight: 700;
    color:var(--color-grey);
    transition:0.4s;
}

.footer-nav-links:hover{
    color:var(--color-light-brown);
    text-decoration:none;
}

#footer-nav-left{
    gap:25px;
}

#nav-contact-container{
    width:800px;
    gap:10px;
}

.footer-contact-content{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    width:100%;
    gap:10px;
}

.footer-social-links{
    display: flex;
    align-items: center;
    gap:20px;
}

.footer-icon a{
    color:var(--color-grey);
    transition:0.4s;
}

.footer-icon a:hover{
    color:var(--color-light-brown);
}

.footer-contact-title p{
    font-weight: 700;
    color:var(--color-grey);
}

.contact-info-desc{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#footer-phone-number p, #footer-email p{
    margin:0;
}

#footer-address{
    text-align:right;
}

.footer-copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background:var(--color-leaf);
}

#copyright-text{
    color:var(--color-brown);
    font-weight: 700;
    margin:0;
}


/*MEDIA QUERY*/


@media(max-width:1536px){
    /*HERO DESIGN*/
    .website-logo img{
        max-width:80%;
    }

    #nav-contact-container{
        width:650px;
    }
}

@media(max-width:1280px){
    /*HERO DESIGN*/
    .hero-container{
        flex-direction: column;
        padding-top: 150px;
    }

    .hero-container::before{
        background: linear-gradient(90deg, rgba(67, 46, 22, 0.67) 29.97%, rgba(82, 58, 31, 0.54) 59.47%, rgba(81, 55, 27, 0.55) 99.91%);
    }

    .website-logo img{
        max-width:80%;
    }
}

@media(max-width:1024px){
    .footer-container{
        flex-direction: column;
        align-items: center;
    }

    .footer-logo{
        width:auto;
    }

    .footer-nav-container{
        flex-direction: row;
        align-items: center;
        gap:50px;
        width:80%;
    }

    #nav-contact-container{
        flex-direction: column;
        width:80%;
        gap:10px;
    }

    .footer-nav-one{
        flex-direction: column;
        gap:10px;
    }

    .footer-nav-one-left{
        align-items: center;
        text-align: center;
    }

    .footer-nav-one-right{
        align-items: center;
        text-align: center;
    }

    .navigation{
        display:none;
    }

    .hamburger-menu{
        display: block;
    }

    .hamburger-menu .hamburger-bar, .hamburger-menu:before, .hamburger-menu:after{
        display: block;
    }

    .mobile-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content-header{
        padding-top: 120px;
    }

    .nav-active{
        color:var(--color-white) !important;
        border-bottom:0;
        margin-bottom:0;
    }
}

@media(max-width: 768px){
    #banner-text{
        font-size: 36px;
    }

    .website-logo img{
        max-width:70%;
    }

    .footer-breaker img{
        height:260px;
    }

    .hero-container{
        padding-top:100px;
        height:650px;
    }


    #nav-contact-container{
        width:80%;
        justify-content: space-between;
    }



    #footer-nav-left{
        justify-content: space-between;
    }

    .footer-container{
        gap:50px;
    }
}

@media(max-width: 640px){

    #banner-text{
        font-size: 32px;
    }

    .content-header{
        padding-top: 80px;
    }

    .footer-breaker img{
        height:220px;
    }

    .hero-container{
        padding-top:60px;
        height:480px;
    }

    #footer-nav-left{
        flex-direction: column;
    }
}

@media(max-width:475px){
    .footer-nav-container{
        width: 100% !important;
        flex-direction:column;
    }

    .footer-logo{
        flex-direction: column;
    }

    .footer-contact-content{
        flex-direction:column;
        align-items: center;
    }

    .contact-info-desc{
        align-items: center;
    }

    .footer-contact-content p, #footer-phone-number p, #footer-email p{
        text-align:center;
    }

    #nav-contact-container{
        gap:30px;
    }

    .hero-container{
        padding-top:140px;
    }

    .website-logo img{
        width:65%;
    }

    #banner-text{
        font-size: 40px;
    }

    .hero-container{
        padding-top:45px;
        height:480px;
    }
}